{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- doctors23:12-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    {% block title %}Nhân viên{% endblock %}
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        {% block content %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Nhân Viên</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        {% if request.session.quyen != 'nhanvien' %}
                        <a href="/thembacsi/" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Thêm Nhân Viên</a>
                        {% endif %}
                    </div>
                </div>
				<div class="row doctor-grid">
                    


{% for nv in nhanviens %}
    <div class="col-md-4 col-sm-4 col-lg-3">
        <div class="profile-widget">
            <div class="doctor-img">
                <a class="avatar" href="#">
                    <img alt="{{ nv.HoTen }}" src="{% static 'assets/img/user.jpg' %}">
                </a>
            </div>
            <div class="dropdown profile-action">
                {% if request.session.quyen != 'nhanvien' %}
                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'suabacsi' nv.id %}">
    <i class="fa fa-pencil m-r-5"></i> Chỉnh sửa
</a>                   
                </div>
                  {% endif %}
            </div>
            <h4 class="doctor-name text-ellipsis"><a href="#">{{ nv.HoTen }}</a></h4>
            <div class="doc-prof">{{ nv.ChucVu }}</div>
            <div class="user-country">
                <i class="fa fa-phone"></i> {{ nv.SDT }}<br>
                <i class="fa fa-map-marker"></i> {{ nv.DiaChi }}
            </div>
        </div>
    </div>
    {% endfor %}




                
            </div>
            
        </div>
		
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assets/js/app.js"></script>
    {% endblock %}
</body>


<!-- doctors23:17-->
</html>