 {% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- patients23:17 -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />
    {% block title %}Tài khoản{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
    <!--  [if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]  -->
  </head>

  <body>
    <div class="main-wrapper">
      {% block content %}
      <div class="page-wrapper">
        <div class="content">
          <div class="row">
            <div class="col-sm-4 col-3">
              <h4 class="page-title">Danh sách tài khoản</h4>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
              <a href="/themtaikhoan/" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Thêm tài khoản</a>
            </div>
          </div>
          <input
  type="text"
  id="searchAll"
  placeholder="🔍 Tìm theo tất cả"
  class="search-input"
/>
          <form method="get" id="filter-form" class="mb-3">
 <label>
  <input type="radio" name="trang_thai" value="Hoạt động"
         {% if trang_thai == "Hoạt động" or trang_thai == None %}checked{% endif %}
         onchange="this.form.submit()"> Hoạt động
</label>
&nbsp;&nbsp;
<label>
  <input type="radio" name="trang_thai" value="Ngưng hoạt động"
         {% if trang_thai == "Ngưng hoạt động" %}checked{% endif %}
         onchange="this.form.submit()"> Ngưng hoạt động
</label>
&nbsp;&nbsp;
<label>
  <input type="radio" name="trang_thai" value="Tất cả"
         {% if trang_thai == "Tất cả" %}checked{% endif %}
         onchange="this.form.submit()"> Tất cả
</label>
</form>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-border table-striped custom-table datatable mb-0">
                  
  <thead>
    <tr>
      <th>Họ và tên</th>
      <th>Gmail</th>
      <th>SĐT</th>
      <th>Quyền</th>
      <th class="text-right">Hành động</th>
    </tr>
  </thead>
  <tbody>
  {% for item in ds_taikhoan %}
  <tr>
    <td>
      <img width="28" height="28" src="{% static 'assets/img/user.jpg' %}" class="rounded-circle m-r-5" alt="" />
      {{ item.TenDangNhap }}
    </td>
    <td>{{ item.Gmail }}</td>
    <td>{{ item.SoDienThoai }}</td>
    <td>
      {% if item.Quyen == 'admin' %}Quản trị viên{% else %}Nhân viên{% endif %}
    </td>
    
    <td class="text-right">
      <div class="dropdown dropdown-action">
        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-ellipsis-v"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
  <a class="dropdown-item" href="{% url 'suataikhoan' item.id %}">
    <i class="fa fa-pencil m-r-5"></i>Chỉnh sửa
  </a>
</div>
      </div>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="6" class="text-center">Không có tài khoản nào</td>
  </tr>
  {% endfor %}
</tbody>
</table>

              </div>
            </div>
          </div>
        </div>
        
      
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script>
  $(document).ready(function () {
    
    // Kích hoạt dropdown nếu chưa hoạt động
    $('.dropdown-toggle').dropdown();
    $('div.dataTables_length select').css('width', '50px');
    
    
  });
  
</script>
<script>
  const searchAll = document.getElementById('searchAll');
  const tableBody = document.querySelector('.custom-table tbody');

  searchAll.addEventListener('input', function () {
    const keyword = this.value.toLowerCase();

    for (let row of tableBody.rows) {
      const name = row.cells[0].innerText.toLowerCase();  // Họ và tên (có hình)
      const gender = row.cells[1].innerText.toLowerCase();
      const gender = row.cells[2].innerText.toLowerCase(); // Giới tính
      const khu = row.cells[3].innerText.toLowerCase();    // Khu

      if (name.includes(keyword) || gender.includes(keyword) || khu.includes(keyword)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    }
  });
</script>
     {% endblock %}
  </body>

  <!-- patients23:19 -->
</html>
